@font-face{
    font-family: GT-Super;
    src: url('fonts/GT-Super/GT-Super-Display-Regular-Trial.otf');
}
@font-face{
    font-family: GT-America;
    src: url('fonts/GT-America/GT-America-Standard-Medium-Trial.otf');
}

body {
    display: flex;
    flex-direction: column;
    padding: 85px
}
#header-img {
    width: 162px;
    height: 114px;
    top: 29px;
    left: 354px;
    align-self: center;
}
h1 {
    font-family:GT-Super;
    letter-spacing: -0.01em;
    line-height: 44px;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    margin-top: 15px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
.label {
    color: #12473A;
    font-family: GT-Super;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
#error-message {
    color: #b40000;
    font-family: GT-Super;
    font-weight: 300;
    line-height: 18px;
}

#submit {
    background-color: #07949D;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
#submit:hover {
    background-color: #056f76;
}
#submit:active {
    transform: scale(0.98);
}
#phone {
    border-style: solid;
    border-width: 1px;
    border-color: #9FB5AF;
    border-radius: 8px;
    top: 30px;
    height: 48px;
    width: 386px;
    font-family: GT-Super;
    font-size: 20px;
    line-height: 28px;
    padding: 0px 18.44px;
    color: #61706F;
}
#submit {
    margin-top: 23px;
    width: 255px;
    height: 48px;
    border: 0;
    border-radius: 24px;
    background-color: #07949D;
    box-shadow: 0px 4px 16px 0px #0000001A;

    font-family: GT-America;
    color: #ffffff;
    text-transform:uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .1em;
    text-align: center;
}

#entries {
    margin-top: 44px
}

.entry-row {
    border-top: 1px solid #D1D1D1;
    display: flex;
    flex-direction: row;
}
.entry-row:last-child{
    border-bottom: 1px solid #D1D1D1;
}
.entry-date-container {
    display: flex;
    flex: 1;
    border-right: solid;
    border-right-color: #D1D1D1;
    border-right-width: 1px;
    padding: 32px;
}
.entry-content-preview-container {
    display: flex;
    flex: 3;
    align-items: center;
    padding-left: 30px;
}
.entry-date {
    text-transform: uppercase;
    font-family: 'GT-America';
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .1em;
    text-align: right;
}
.entry-content-preview {
    font-family: 'GT-Super';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #042A21;
}
.view-more-form {
    display: flex;
    flex: .5;
}
.view-more-btn {
    color: #07777E;
    background-color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'GT-America';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .1em;

}