<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" 
    href= "{{ url_for('static',filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>My Storyworth Text Diary</title>
</head>
<body>
    <img src="{{url_for('static', filename='header-img.png')}}" id="header-img"/>
    <div id="phoneForm">
        <h1>Enter your phone number below to look up past diary entries</h1>
        <form action="/get_diary" method="post" class="form" id="sendPhoneForm">
            <label class="label" for="phone">Your phone number</label>
            <input type="text" id="phone" name="phone" placeholder="123-456-7890" value="{{ phone_number | default('') |format_phone }}">
            {% if error_msg %}
                <p id="error-message">{{error_msg}}</p>
            {% endif %}
            <button type="submit" id="submit">View past entries</button>
        </form>
    </div>
    {% if entries %}
        <div id="entries">
            {% for entry in entries %}
                <div class="entry-row">
                    <div class="entry-date-container"><p class="entry-date">{{ entry.date }}</p></div>
                    <div class="entry-content-preview-container">
                        <p class="entry-content-preview" id="content-{{entry.id}}">{{ entry.content | safe | truncate(40, leeway=3) }}</p></div>
                        <form class="view-more-form" action="/view_entry" method="post">
                            <input type="hidden" name="entry_id" value="{{entry.id}}">
                            <button class="view-more-btn" id="toggle-{{entry.id}}" type="submit" id="submit">View</button>
                        </form>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% if entry %}
        <div id="entries">
            <div class="entry-row">
                <div class="entry-date-container"><p class="entry-date">{{ entry.date }}</p></div>
                <div class="entry-content-preview-container">
                    <p class="entry-content-preview" id="content-{{entry.id}}">{{ entry.content | safe }}</p>
                </div>
                <form class="view-more-form" action="/get_diary" method="post">
                    <input type="hidden" name="phone" value="{{phone_number}}">
                    <button class="view-more-btn">Back</button>
                </form>
            </div>
        </div>
    {% endif %}
</body>
<script>
    $(document).ready(function() {
        var phoneInput = $('#phone');
        phoneInput.on('input', function(e) {
             // Replace non-digits and format to xxx-xxx-xxxx
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = !x[2] ? x[1] : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
        })
    });

</script>
</html>